<div class="row div-mt">
  <div class="col-md-12">
    <div class="overflow-auto">
      <table class="table table-responsive-md table-bordered">
        <thead>
          <tr class="text-center">
            <th (click)="onSort('name')" style="width: 20%;"><span *ngIf="sortBy=='name'">*</span>Name</th>
            <th (click)="onSort('type')" style="width: 10%;"><span *ngIf="sortBy=='type'">*</span>Type</th>
            <th (click)="onSort('amount')" style="width: 20%;"><span *ngIf="sortBy=='amount'">*</span>Amount</th>
            <th (click)="onSort('itemDate')" style="width: 20%;"><span *ngIf="sortBy=='itemDate'">*</span>Date</th>
            <th style="width: 10%;">View</th>
            <th style="width: 10%;">Edit</th>
            <th style="width: 10%;">Delete</th>
          </tr>
        </thead >
        <tbody>
          <tr *ngFor="let budget of budgetList">
            <td class="text-center">{{ budget.name }}</td>
            <td class="text-center">{{ budget.type }}</td>
            <td class="text-right">{{ budget.amount | currency}}</td>
            <td class="text-center">{{ budget.itemDate | date : 'MM/dd/yyyy'}}</td>
            <td><button class="btn btn-secondary btn-block" (click)="onView(budget)">View</button></td>
            <td><button class="btn btn-primary btn-block" (click)="onEdit(budget)">Edit</button></td>
            <td><button class="btn btn-danger btn-block" (click)="onDelete(budget.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
